<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Obituaries</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>Obituaries</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Date of Death</th>
            <th>Content</th>
            <th>Author</th>
            <th>Submission Date</th>
            <th>Share</th>
        </tr>
        {% for obituary in obituaries %}
        <tr>
            <td><a href="{% url 'obituary_detail' obituary.slug %}">{{ obituary.name }}</a></td>
            <td>{{ obituary.date_of_birth }}</td>
            <td>{{ obituary.date_of_death }}</td>
            <td>{{ obituary.content }}</td>
            <td>{{ obituary.author }}</td>
            <td>{{ obituary.submission_date }}</td>
            <td>
                <div>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">Share on Facebook</a>
                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ obituary.name }} - Obituary">Share on Twitter</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
